/* CSS files add styling rules to your content */

html {
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
  color: white;
  font-size: 75px;
}

.grid-container { /*Creates grid for my website*/
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 45px 100vh 50vh 40vh 100vh 60vh 20vh;
  height: 100vh;
}

.nav { /*Navigation menu at top of screen*/
  box-sizing: border-box;
  text-align: left;
  background-color: blue;
  color: white;
}

.header {
  background-color: green;
}

.content { /* Main text goes here */
  box-sizing: border-box;
  background-color: white;
}

.scroll-slider {
  background-color: orange;
}

.footer { /* sits at the bottom of the page, contains name and copyright statement */
  padding-top: 25px;
  background-color: yellow;
  text-align: center;
}
