/* CSS files add styling rules to your content */
html {
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

b {
  font-weight: bold;
}

heading-large {
  color: white;
  font-size: 125px;
  font-family: "Ledger", serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px 2px 4px #000000;
}

heading-small {
  color: white;
  font-size: 30px;
  font-family: "Ledger", serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px 2px 4px #000000;
}

h1 {
  text-align: center;
  color: white;
  font-size: 50px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

sub-h1 {
  color: white;
  font-size: 25px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

body {
  color: white;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 350;
  font-style: normal;
}

h2{ /*Header in the scroll slider*/
  text-align: center;
  color: white;
  font-size: 30px;
  padding-top: 20px;
}

slider-main {
  color: white;
  font-size: 20px;
}

.grid-container { /*Creates grid for my website*/
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100vh 90vh 30vh 20vh;
  height: 100vh;
}

.nav {
  box-sizing: border-box;
  text-align: right;
  background-color: rgba(0,0,0,.5);
  position: fixed;
  z-index: 99;
  width:100%;
  animation-name: fadein;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}
.nav-logo {
  text-align: right;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.nav-logo img {width:75%; height:auto;}

/* CSS for block menu starts here */
ul {
  display: inline;
  padding: 20px 0px 0px 0px;
  list-style: none;
}
ul li {
  font-family: "Ledger", serif;
  font-weight: 550;
  font-style: normal;
  font-size: 20px;
  display: inline-block;
  position: relative;
  padding: 13px 30px 17px; /*padding for main block menu buttons */
}
ul li:hover {
  a {color:black;} /*When box is hovered over, text color changes to white*/
  background: white;
  }
  
/* Hover Colours*/
a:link {color: white;} /* unvisited link */
a:visited {color:#FFFFFF;} /* visited link */
a:hover {color:white;} /* mouse over link */
a:active {color:#FFFFFF;}  /* selected link */

a {
text-decoration: none;
}

ul li ul {
  padding: 0;
  position: absolute;
  top: 48px; /* space between each drop-down menu list */
  left: 0;
  width: 175px; /* width of drop-down menu list */
  display: none;
  visibility: hidden; /* this hides the drop-down menu list */
  z-index: 1; /* for overlapping divs, bringing to the front like a drop down menu */
}

ul li ul li { 
  background: white; /* this is the drop-down menu background color */
  display: block; 
}
ul li ul li:hover { background: grey;} /* this is the drop-down menu hover on blocks */

ul li:hover ul {
  display: block;
  visibility: visible; /* this makes the drop-down menu visible*/
}
/* Style for Navigation ends here*/

.header {
  background-color: black;
  scroll-snap-align: start;
}

.header-background { /*Background image in the header*/
  overflow: hidden;
  position: relative;
  height: 100vh;
  background-color: rgba(36, 51, 103, 0.65);
  background-image: url("../images/page3_background.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}

.header-content { /*KCC logo in the header*/
  overflow: hidden;
  text-align: center;
  margin-top: 25vh;
  background-color: none;
  color: white;
}

.header-line { /* Text in the header*/
  background-color: white;
  width: 50%;
  height: 1px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.content { /* Main text goes here */
  position: relative;
  background-color: #3750A5;
}

.text-container { /*Holds text on the page*/
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.inline-image-right { /* Image size should be set to 1024 by 768 (72 PPI) in ps */
	margin-left: auto; 
	margin-right: 10%;
	right: 0;
	width: 500px;
	height: 500px;
	background-color: #243367;
	overflow: hidden;
	color: white;
	position: absolute;
	
}

.inline-image-left { /* Image size should be set to 1024 by 768 (72 PPI) in ps */
	margin-left: 10%; 
	width: 500px;
	height: 500px;
	background-color: #243367;
	overflow: hidden;
	color: white;
	position: absolute;
}

.body-left {
  position: absolute;
  background-color: none;
  width: 50%;
}

.body-right {
  position: absolute;
  background-color: none;
  width: 50%;
  right: 0;
  margin-right: 10%;
}

.carousel-container-right {
  background-color: #243367;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto; 
  margin-right: 10%;
  right: 0;
  width: 500px;
  height: 500px;
  overflow: hidden;
  color: white;
  position: absolute;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
}

.carousel {
  position: absolute;
}

.carousel-inner {  /* Image size should be set to 500 by 500 (72 PPI) in ps */
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.carousel-item img {
  display: block;
  height: auto;
  max-width: 100%;
}

.carousel-control {
  background: rgba(0, 0, 0, 0.35);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.carousel-control.prev {
  left: 2%;
}

.carousel-control.next {
  right: 2%;
}

.carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}

.carousel-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 35px;
}

.carousel-bullet:hover {
  color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
  color: #428bca;
}

.line { /*Line in body text*/
  background-color: white;
  height: 1px;
  width: 90%;
  display: block;
  position: absolute;
  bottom: 5px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  border-radius: 15px;
}

#myBtn { /* Back to top buttons, sends user to top of page */
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 30px;
  z-index: 99; /* Brings element to the front */
  font-size: 18px;
  border: none;
  background-color: orange;
  color: Black;
  cursor: pointer;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  opacity: 0;
  transition: all 0.4s;
}

#myBtn.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

#myBtn:hover {
	background-color: red; /* Changes the color of the button when hovered */
	transition-duration: 0.4s;
}

.grow { 
transition: all .2s ease-in-out; 
}

.grow:hover { 
transform: scale(1.1); 
}

.footer { /* sits at the bottom of the page, contains name and copyright statement */
  position: relative;
  padding-top: 25px;
  background-color: #243367;
  text-align: center;
}

.footer-button {
  background-color: white;
  cursor: pointer;
  border-radius: 10px;
  color: black;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.footer-copyright { /* sits at the bottom of the page, contains name and copyright statement */
  position: absolute;
  color: #3F56A8;
  left: 0;
  right: 0;
  bottom: 5px;
}
